{% extends 'menu.html' %}

{% block header %}{{ level.capitalize() }} sensors in {{ ecosystem_ids[1] }}{% endblock %}
{% block info %}<span id="lastRecordTime"></span>{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  sensorsSkeleton = $.ajax({
    url: "{{ url_for('api.get_sensors_skeleton') }}",
    type: "get",
    data: {ecosystems: {{ ecosystem_ids[0] | tojson}}, level: {{ level | tojson }},}
  }).promise();

  sensorsSkeleton.then(function(skeleton) {
    UI.createSensorBoardsFromSkeleton(skeleton);
    UI.createSensorBoardsGauges(skeleton)
    UI.createSensorBoardsGraphsFromSkeleton(skeleton, {{ graphUpdatePeriod | tojson }})
    UI.updateSensorBoardsFromSensorsCurrentData(skeleton, {{ graphUpdatePeriod | tojson }})
  });
</script>
{% endblock %}
