{% extends "base.html" %}
{% import "macros.html" as ui %}

{% block kicker %}Invitation{% endblock %}
{% block title %}You have been invited to Ouranos{% endblock %}

{% block content %}
  <p style="margin: 0 0 12px;">Hej{% if firstname %} {{ firstname }}{% endif %}!</p>

  <p style="margin: 0 0 12px;">
    You have been invited to use OGaia, the Greenhouse Automation Intuitive App.
    To create your account, follow this link:
  </p>

  {{ ui.button("Create my account", frontend_address ~ "/auth/register?token=" ~ token) }}

  <p style="margin: 0 0 12px;">
    If the link does not open, go to
    <a href="{{ frontend_address }}/auth/register" style="color: #16202e;">{{ frontend_address }}/auth/register</a>
    and use this registration token:
  </p>

  {{ ui.token("Registration token", token) }}

  <p style="margin: 0;">Hope to see you soon!</p>
{% endblock %}

{% block footer %}
  {{ ui.validity(expiration_delay, "After that, ask an administrator for a new invitation.") }}
{% endblock %}
