{% extends "base.html" %}

{% block content %}
  <p>Hej {{ username }}!</p>

  <p>We received a request to reset your password.</p>

  <p>Visit <a href="{{frontend_address}}/auth/reset_password?token={{token}}">this page</a> to change your password.</p>

  <p>
    Alternatively, you can copy this link into your favorite web browser:
    <a href="{{frontend_address}}/auth/reset_password">{{frontend_address}}/auth/reset_password</a>
    and use this token:
  </p>

  <p style="overflow-wrap: break-word; word-break:break-all; word-wrap: break-word; overflow: hidden">
    {{token}}
  </p>

  <p>Do not wait, this link is only valid for {{ expiration_delay }}!</p>

  <p>Contact the administrator if you did not request to reset your password.</p>
{% endblock %}
