{% if weather["currently"] %}
Currently, the weather is {{ weather["currently"]["summary"].lower() }}.
It is {{ weather["currently"]["temperature"] }}°C and the relative humidity is of {{ weather["currently"]["humidity"]*100 }}%.
The wind speed is of {{ weather["currently"]['windSpeed'] }}} km/h and the cloud coverage is of {{ weather["currently"]["cloudCover"]*100 }}.
{% endif %}
{% if weather["hourly"] %}
In the incoming hours, the weather will be {{ weather["hourly"]["summary"].lower() }}.
The temperature will be between {{ weather["hourly"]["temperatureLow"] }} and {{ weather["hourly"]["temperatureHigh"] }}°C, with an average humidity of {{ weather["hourly"]["humidity"]*100 }}
{% endif %}
{% if weather["tomorrow"] %}
Tomorrow, the temperature will be between {{ weather["tomorrow"]["temperatureLow"] }} and {{ weather["hourly"]["temperatureHigh"] }}°C and the weather will be mostly {{ weather["tomorrow"]["summary"].lower() }}.
{% if weather["tomorrow"]["sunriseTime"] %}
The sunrise and sunset will be at {{ weather["tomorrow"]["sunriseTime"] }} and {{ weather["tomorrow"]["sunsetTime"] }} respectively, giving you a total of {{ weather["tomorrow"]["dayLength"] }}h of day light.
{% endif %}
{% endif %}
