{% extends 'errors/error.html' %}

{% block error %}
  <div class="errors">
    <h1 class="error-number">403</h1>
    <p>
      {% if description in ['1', '2', '4', '8'] %}
        {% if description in ['1', '2'] %}
          You need to be logged in to access this page.
        {% elif description == '4' %}
          You need to be at least an operating user to access this page.
        {% elif description == '8' %}
          You need to be an administrator to access this page.
        {% else %}
          It seems you don't have the permission to access this page.
        {% endif %}
      {% endif %}
    </p>
      <button class="errorButton" onclick="goBack()">Go Back</button>
    {% if current_user.is_anonymous %}
      <a href="{{url_for('auth.login')}}" class="errorButton" style="float: right;">Log in</a>
    {% endif %}
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script> 
{% endblock %}