{% extends 'menu.html' %}

{% block header %}{{ title }}{% endblock %}
{% block info %}{% endblock %}

{% block content %}
    <form action="" method="post">
      {{form.hidden_tag()}}
      <p>
        {{form.firstname.label}}<br>
        {{form.firstname(size=32)}}<br>
        {% for error in form.firstname.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.lastname.label}}<br>
        {{form.lastname(size=32)}}<br>
        {% for error in form.lastname.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.email.label}}<br>
        {{form.email(size=32)}}<br>
        {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.role.label}}<br>
        {{form.role()}}<br>
        {% for error in form.role.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.telegram_chat_id.label}}<br>
        {{form.telegram_chat_id(size=32)}}<br>
        {% for error in form.telegram_chat_id.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.expiration.label}}<br>
        {{form.expiration(size=32)}}<br>
        {% for error in form.expiration.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{form.invitation_channel.label}}<br>
        {{form.invitation_channel()}}<br>
        {% for error in form.invitation_channel.errors %}
        {% if error %}
          <span style="color: red;">[{{ error }}]</span>
        {% endif %}
        {% endfor %}
      </p>
      <p>{{form.submit(class_="errorButton")}}</p>
    </form>
{% endblock %}