{% extends 'menu.html' %}

{% block header %}System performance{% endblock %}
{% block info %}
<span id="lastRecordTime"></span>
{% endblock %}

{% block content %}
  {% for measure in ['CPU_used', 'CPU_temp', 'RAM_used', 'DISK_used'] %}
    {% if measure in system_measures %}
    <div class="board" style="/*height: 230px;*/">
      <h1>
        <i class="{{ parameters['server']['icon'][measure] }} leftIco"></i>
        {{ parameters["server"]["measure"][measure] }}
      </h1>
      <div id="boardRow-{{ measure }}" class="boardRowContainer" style="min-height: 183px; row-gap: 6px">
        <div class="chartContainer" style="flex: 1; height: 185px">
          <canvas id="chartCanvas-server-{{ measure }}"></canvas>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  getCurrentSystemData = $.ajax({
    url: "/api/system/current_data",
    type: "get",
  }).promise();

  getCurrentSystemData.then(function(currentSystemData) {
    parameters.setServerMaxValues(currentSystemData);
    const dt = new Date(currentSystemData["datetime"]);
    $("#lastRecordTime").text("Last sensors measure at " + dt.toLocaleTimeString())
    gauges.fromCurrentSystemData(currentSystemData);

    UI.createSystemBoardsGraphs({{ graphUpdatePeriod | tojson }})

    socketAdmin.on("current_server_data", function(msg) {
      const dt = new Date(msg["datetime"]);
      $("#lastRecordTime").text("Last sensors measure at " + dt.toLocaleTimeString())
      gauges.fromCurrentSystemData(msg);
      console.log(graphs.store.updateDT)
      if ((dt.getMinutes() % {{ graphUpdatePeriod | tojson }} === 0) && (graphs.store.updateDT !== now)) {
        let graphsInfo = graphs.formatSystemCurrentData(msg);
        console.log(graphsInfo)
        graphs.update(graphsInfo);
        Object.assign(graphs.store, {updateDT: now});
      }
    });
  });
</script>
{% endblock %}