:root {
  font-size: 1rem;
  --background-color: #F7F7F7;
  --nav-width: 210px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", Verdana, sans-serif;
  color: #73879C;
  background-color: var(--background-color);
  overflow-y: scroll;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.topLine + h2 {
  margin-top: 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
  margin-top: 1em;
}

h2 + p {
  margin-top: 0.7em;
}

h3 {
  font-size: 0.97rem;
  margin-top: 10px;
  margin-bottom: 7px;
}

p + p {
  margin-top: 0.66em;
}

ul {
  list-style-type: disc;
  margin-left: 2em;
}

li + li {
  margin-top: 0.66em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/*
img { 
  width: 100%; 
  height: 100%; 
  }
*/
/* Modal container */
.modal-root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(42, 63, 84, 0.70);
}

.modal-root h1 {
  font-size: 1.6rem;
}

.modal-root h2 {
  font-size: 1.15rem;
}

.modal-container {
  padding: 15px 25px;
  border: 2px solid #366485;
  border-radius: 7px;
  background-color: #FFFFFF;
  min-width: 30vw;
  max-width: 90vw;
  overflow-wrap: break-word;
  position: relative;
}

.modal-container button {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.05rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 23px;
  border-radius: 6px;
}

.modal-container button:hover {
  filter: brightness(0.85);
}

/* Main container*/
.mainContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* Navigation bar*/
nav {
  background-color: #2A3F54;
  color: #f9f9fb;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

nav .topBox {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

nav .toggleMenu {
  display: none;
}

nav .show {
  display: flex;
  flex-direction: column;
  border-top: thin solid var(--background-color);
}

nav .helloGAIA {
  margin: auto;
  line-height: 45px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
}

nav .userBox {
  height: 56px;
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
}

nav .userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--background-color);
}

nav .welcome {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 6px 0 6px 0;
  font-size: 1rem;
  font-weight: 600;
}

nav .flexItem {
  padding-top: 2px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li + li {
  margin-top: 0;
}

nav .leftIco {
  width: 18px;
  text-align: center;
  margin: auto 18px auto 0;
}

nav .rightIco {
  float: right;
  line-height: 25px;
  margin: auto 0 auto;
}

.accordionMenu li.open .dropdownLink .fa-chevron-right {
  transition: all 0.4s ease-out;
  transform: rotate(90deg);
}

nav .accordionMenuItem {
  cursor: pointer;
  display: flex;
  padding: 12px 15px 12px 15px;
  border-bottom: thin solid #ccc;
  font-size: 0.86rem;
  line-height: 25px;
}

nav .dropdownLink {
  position: relative;
  transition: all 0.4s ease-out;
}

nav .accordionMenuItemName {
  padding-right: 5px;
  margin-right: auto;
}

nav .submenuItems {
  display: none;
  background: #fff;
}

nav .submenuItems li {
  background: #B6B6B6;
}

nav .submenuItems a {
  cursor: pointer;
  display: block;
  color: #727272;
  padding: 11px 12px 11px 51px;
  transition: all 0.4s ease-out;
  font-size: 0.95rem;
}

nav .bottomBox {
  display: flex;
  margin-top: auto;
  line-height: 33px;
  background-color: #282f3c;
  color:#366485;
}

nav .bottomBox > div {
  padding: 2px 5px 2px 5px;
  flex: 1;
  text-align: center;
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdownButton {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1em;
  height: 100%;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 10;
  right: 0;
  border: thin solid #366485;
}

.dropdown .show {
  display: block;
}

.dropdownContent a {
  color: #73879C;
  padding: 0 16px;
  text-decoration: none;
  display: block;
  line-height: 45px;
  width: 75px;
}

.dropdownContent a:hover {
  background-color: #EDEDED
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* Main container */
.rightContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  background-color: var(--background-color);
}

/* Top bar */
.topBar {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  min-height: 45px;
  background:#EDEDED;
  border-bottom: thin solid #D9DEE4;
  z-index: 10;
}

.roleInfo {
  margin: auto auto auto 20px;
}

.userInfo {
  background-color: #366485;
  color: #fff;
  padding: 0 30px;
}

.topBar .dropdownButton {
  font-weight: bold;
}

.warning-button {
  margin: auto 0;
  color:#f0341f;
  text-align: center;
  width: 20px;
  font-size: 1.5rem;
}

.warning-button > a {
  display: none;
}

/* Content container */
.contentContainer {
  padding: 10px 20px 20px 20px;
  position: relative;
}

/* Boards */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.board {
  background-color: #fff;
  padding: 10px 17px 17px 17px;
  margin-bottom: 6px;
  border: thin solid #ccc;
  flex: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.board h1 {
  font-size: 1.15rem;
  font-weight: bold;
  padding: 8px 5px 3px 5px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.board .leftIco {
  width: 27px;
  text-align: center;
  margin-left: -7px;
}

.board .statusIcon {
  margin-left: 1rem;
}

.boardColumnContainer {
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 175px;
}

.boardRowContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1px;
  row-gap: 0;
}

.boardFlexItem {
  flex: 1;
  background: #fff;
}

.boardSubTitle {
  margin: 10px -5px 4px;
  font-size: 1rem;
  font-weight: bold;
}

.graph {
  flex: auto;
  margin-bottom: -10px;
}

.board button {
  margin-bottom: 10px;
  font-size: 1rem;
  color: inherit;
}

/* Weather */
.weatherToday {
  min-width: 252px;
  text-align: center;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.chartContainer {
  position: relative;
  height: 249px;
  min-width: 250px;
}

.chartContainer canvas {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: -5px;
}

.weatherIcon {
  height: 85px;
  font-size: 50px;
  line-height: 85px;
  vertical-align: middle;
}

.weatherButtonContainer {
  margin: 10px 0 8px 0;
}

.weatherButton {
  background-color: #fff;
  color: #73879C;
  border: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
}

.weatherButton + .weatherButton {
  padding-left: 12px;
}

.boardFlexItemU i + i {
  margin-left: 20px;
}

/* Sensor board */
.gaugeContainer {
  min-width: 225px;
  flex: 1;
}

.gaugeWrapper {
  margin: 0 -35px 0;
}

/* Switches */
.switchStatusContainer {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto 15px auto;
  background:var(--background-color);
  border:thin solid #ccc;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Tables */
.table-base {
  display: table;
  /* table-layout: fixed; */
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-base thead {
  text-align: left;
}

.table-base thead th {
  padding: 1.25rem 1rem;
}

.table-base td {
  padding: 0.75rem 1rem;
}

.table-base td .open {
  transition: all 0.4s ease-out;
  transform: rotate(90deg);
}

.table-base thead tr {
  background-color: #73879C;
  color: #f9f9fb;
}

.table-base tbody {
  text-align: left;
}

.table-base tbody tr {
  border-bottom: thin solid #dddddd;
}

.table-base tbody tr:last-of-type {
  border-bottom: 2px solid #73879C;
}

.table-base tbody tr .table-bigger-line {
  height: 3.14rem;
  font-size: 2rem;
}

.table-base button {
  border: none;
  color: inherit;
  background-color: inherit;
  font-size: 1.2rem;
}

.table-base button:disabled {
  color: rgba(115, 135, 156, 0.33);
}

.table-base button+button {
  margin-left: 8px;
}

.table-alternate-colors tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-aligner td + td {
  padding-left: 10px;
}

/* Errors */
.errorContainer {
  height: 100vh;
  color: #73879C;
  background-color: #2A3F54;
}

.errors {
  width: 350px;
  max-height: min-content;
  font-size: 1.07rem;
}

.errorNumber {
  font-size: 6rem;
  line-height: 90px;
  margin-bottom: 10px;
}

.errorButton {
  background-color: #282f3c;
  border: none;
  color: #73879C;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
}

/* Care */
.footnote {
  margin-top: 65px;
}

.footnote > hr {
  border: 1px solid rgba(115, 135, 156, 0.822);
  margin-bottom: 5px;
}

.footnote > ol {
  font-size: 0.75rem;
}

.footnote-backref {
  margin-left: 7px;
}

.topLine {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  padding-bottom: 0.8em;
  min-height: 35px;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #366485;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.25rem);
  -ms-transform: translateX(1.25rem);
  transform: translateX(1.25rem);
}

/* Auth pages */
form input {
  max-width: 100%;
}

.wiki-article {

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media only screen  and (min-width: 768px) {
  nav {
    width: var(--nav-width);
    position: fixed;
    height: 100%;
  }

  nav .topBox {
    padding: 0 10px 10px 10px;
    flex-direction: column;
    border-bottom: thin solid #ccc;
  }

  nav .toggleMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  nav .toggleMenu::-webkit-scrollbar {
    display: none;
  }

  .rightContainer {
    margin-left: var(--nav-width);
  }

  .warning-button {
    width: 45px;
  }

  .warning-button > a {
    display: block;
  }

  .contentContainer {
    padding-right: 45px;
  }

  .board {
    min-width: 225px;
  }

  .switchStatusContainer {
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .max400OnScreen {
    max-width: 400px;
  }

  .max250OnScreen {
    max-width: 250px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Strongest rules */
.on {
  color: #4CAF50;
}

.off {
  color: red;
}

.deco {
  color: #73879C;;
}

.hide {
  display: none;
}