{% extends 'main/menu.html' %}

{% block header %}{% endblock %}
{% block info %}{% endblock %}

{% block content %}
          <div class="subtitleFix"></div>
          <h2>Global overview</h2>
          <div class="row">
            <div class="board" style="min-height: 255px;">
              <a>
                <div class="boardHeader">
                  Calendar
                </div>
                <div class="boardColumnContainer">
                  <div class="boardColumnTitle">{{moment(today).format("dddd Do MMMM YYYY")}}</div>
                  <div class="boardColumnItem">
                    sunrise: {{moment(moments["sunrise"]).format("HH:mm")}} -
                    sunset: {{moment(moments["sunset"]).format("HH:mm")}}
                  </div>
                </div>
              </a>
            </div>

            <div class="board" style="min-height: 255px;">
              <a href="{{ url_for('main.weather') }}">
                <div class="boardHeader">
                  Current weather
                </div>
                <div class="boardColumnContainer">
                  <div class="weatherIcon" style="height: 115px; line-height: 115px; font-size: 70px;"><i class='{{weather_data["currently"]["icon"]|getWeatherIcon}}'></i></div>
                  <div class="boardColumnTitle" style="flex: 2">{{weather_data["currently"]["summary"]}}</div>
                  <div class="boardColumnItem">Temperature: {{weather_data["currently"]["temperature"]|round(1)}}°C</div>
                  <div class="boardColumnItem">Wind: {{weather_data["currently"]["windSpeed"]}}km/h</div>
                  <div class="boardColumnItem">Precipitation: {{(weather_data["currently"]["precipProbability"]*100)|round|int}}%</div>
                  <div class="boardColumnItem">Humidity: {{(weather_data["currently"]["humidity"]*100)|round|int}}%</div>
                  <div class="boardColumnItem">Cloud cover: {{(weather_data["currently"]["cloudCover"]*100)|round|int}}%</div>
                </div>
              </a>
            </div>
            {% if current_user.is_administrator %}
            <div class="board" style="min-height: 255px;">
              <div class="boardHeader">
                Server info
              </div>
              <div class="boardColumnContainer">
                <div class="boardColumnTitle">Uptime</div>
                <div class="boardColumnItem"><span id="uptime"></span></div>
                <div class="boardColumnTitle" style="margin-top: 10px;">Average latency</div>
                <div class="boardColumnItem"><span id="ping-pong"></span>ms</div>
                <div class="boardColumnTitle" style="margin-top: 10px;">System utilization</div>
                <div class="boardColumnItem">CPU load: <span id="CPU_used"></span>%</div>
                {% if platform == "Linux" %}
                <div class="boardColumnItem">CPU temperature: <span id="CPU_temp"></span>°C</div>
                {% endif %}
                <div class="boardColumnItem">
                  RAM used:
                    <span id="RAM_used"></span>GB /
                    <span id="RAM_total"></span>GB
                </div>
                <div class="boardColumnItem">
                  Disk used:
                    <span id="DISK_used"></span>GB /
                    <span id="DISK_total"></span>GB
                </div>
              </div>
            </div>
            {% endif %}
            {% if current_user.is_authenticated %}
            <div class="board" style="min-height: 255px;">
              <a href="{{url_for('main.warnings_list')}}">
                <div class="boardHeader">
                  Warning overview
                </div>
                <div class="boardColumnContainer">
                  {% if warning %}
                  {% for w in warnings %}
                  <div class="boardColumnItem"></div>
                  {% endfor %}
                  {% endif %}
                </div>
              </a>
            </div>
            {% endif %}
          </div>

          {% if ecosystems %}
          <h2>Ecosystems overview</h2>
          <div>
            {% for ecosystem in ecosystems %}
            <div class="inlineBoard" style="min-height: 255px;">
              <div class="boardHeader" style="text-align: center;">
                {{ecosystems[ecosystem]["name"]}} &emsp;
                <i class='fa fa-circle {{ecosystems[ecosystem]["status"]}}' style="margin-left: auto;"></i>
              </div>
              <div class="boardColumnContainer" style="text-align: left;">
                <div class="boardColumnItem">Light mode: {{light_data[ecosystem]["mode"]}}</div>
                <div class="boardColumnItem">Light status: {{light_data[ecosystem]["status"]}}</div>
                {% if light_data[ecosystem]["mode"] != "NA" %}
                {% if light_data[ecosystem]["method"] == "fixed" %}
                <div class="boardColumnItem">
                  Light: from {{moment(light_data[ecosystem]["morning_start"]).format("HH:mm")}}
                  to {{moment(light_data[ecosystem]["evening_end"]).format("HH:mm")}}
                </div>
                {% elif light_data[ecosystem]["method"] == "elongate" %}
                <div class="boardColumnItem">
                  Morning light:
                  {% if light_data[ecosystem]["morning_start"] < light_data[ecosystem]["morning_end"] %}
                  from {{moment(light_data[ecosystem]["morning_start"]).format("HH:mm")}}
                  to {{moment(light_data[ecosystem]["morning_end"]).format("HH:mm")}}
                  {% else %}
                  no lighting
                  {% endif %}
                </div>
                <div class="boardColumnItem">
                  Evening light:
                  {% if light_data[ecosystem]["evening_start"] < light_data[ecosystem]["evening_end"] %}
                  from {{moment(light_data[ecosystem]["evening_start"]).format("HH:mm")}}
                  to {{moment(light_data[ecosystem]["evening_end"]).format("HH:mm")}}
                  {% else %}
                  no lighting
                  {% endif %}
                </div>
                {% endif %}
                {% endif %}
                <div class="boardColumnItem">Plants: #TODO</div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          {% if current_user.is_administrator %}
          <script type="text/javascript">
            $(document).ready(function() {
              namespace = "/browser";
              var socket = io(namespace);

              function request_server_data() {
                socket.emit('request_server_data');
              };

              request_server_data();
              window.setInterval(request_server_data, 3000);

              socket.on('server_data', function(msg) {
                $('#CPU_used').text(Number(msg.CPU_used).toFixed(2));
                $('#CPU_temp').text(Number(msg.CPU_temp).toFixed(2));
                $('#RAM_total').text(Number(msg.RAM_total).toFixed(2));
                $('#RAM_used').text(Number(msg.RAM_used).toFixed(2));
                $('#DISK_total').text(Number(msg.DISK_total).toFixed(2));
                $('#DISK_used').text(Number(msg.DISK_used).toFixed(2));
                $('#uptime').text(msg.uptime);
              });
            });
          </script>
          {% endif %}
{% endblock %}