{% extends 'menu.html' %}

{% block header %}{% endblock %}
{% block info %}{% endblock %}

{% block content %}
          <div class="subtitleFix"></div>
          <h2>Global overview</h2>
          <div class="row">
            <div class="board" style="min-height: 255px;">
              <a>
                <div class="boardHeader">
                  Calendar
                </div>
                <div class="boardColumnContainer">
                  <div class="boardColumnTitle">
                    <span id="today_day"></span>
                  </div>
                  {% if sun_times %}
                  <div class="boardColumnItem">
                    sunrise: <span id="sunrise"></span> -
                    sunset: <span id="sunset"></span>
                  </div>
                  {% endif %}
                </div>
              </a>
            </div>
            {% if weather_data %}
            <div class="board" style="min-height: 255px;">
              <a href="{{ url_for('main.weather') }}">
                <div class="boardHeader">
                  Current weather
                </div>
                <div class="boardColumnContainer">
                  <!-- TODO: update weatherIcon when needed -->
                  <div class="weatherIcon" style="height: 115px; line-height: 115px; font-size: 70px;"><i class='{{ weather_data["currently"]["icon"]|getWeatherIcon }}'></i></div>
                  <div class="boardColumnTitle" style="flex: 2">
                    <span id="weather_summary"></span>
                  </div>
                  <div class="boardColumnItem">
                    Temperature: <span id="weather_temperature"></span>°C
                  </div>
                  <div class="boardColumnItem">
                    Wind: <span id="weather_windSpeed"></span>km/h
                  </div>
                  <div class="boardColumnItem">
                    Precipitation: <span id="weather_precipProbability"></span>%
                  </div>
                  <div class="boardColumnItem">
                    Humidity: <span id="weather_humidity"></span>%
                  </div>
                  <div class="boardColumnItem">
                    Cloud cover: <span id="weather_cloudCover"></span>%
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% if current_user.is_administrator %}
            <div class="board" style="min-height: 255px;">
              <div class="boardHeader">
                Server info
              </div>
              <div class="boardColumnContainer">
                <div class="boardColumnTitle">Uptime</div>
                <div class="boardColumnItem"><span id="server_uptime"></span></div>
                <div class="boardColumnTitle" style="margin-top: 10px;">Average latency</div>
                <div class="boardColumnItem">
                  <span id="ping-pong">Na</span>ms
                </div>
                <div class="boardColumnTitle" style="margin-top: 10px;">
                  System utilization
                </div>
                <div class="boardColumnItem">
                  Average CPU load: <span id="server_CPU_used"></span>%
                </div>
                {% if system_data["CPU_temp"] %}
                <div class="boardColumnItem">
                    CPU temperature: <span id="server_CPU_temp"></span>°C
                </div>
                {% endif %}
                <div class="boardColumnItem">
                  RAM used:
                    <span id="server_RAM_used"></span>GB /
                    <span id="server_RAM_total"></span>GB
                </div>
                <div class="boardColumnItem">
                  Disk used:
                    <span id="server_DISK_used"></span>GB /
                    <span id="server_DISK_total"></span>GB
                </div>
              </div>
            </div>
            {% endif %}
            {% if current_user.is_authenticated %}
            <div class="board" style="min-height: 255px;">
              <a href="{{url_for('main.warnings_list')}}">
                <div class="boardHeader">
                  Warnings overview
                </div>
                <div class="boardColumnContainer">
                  {% if warnings %}
                  <table style="table-layout: auto; width: 100%;">
                    <tr>
                      <th>Date</th>
                      <th>Emergency</th>
                      <th>Title</th>
                    </tr>
                    {% for i in range(10) %}
                    {% if warnings[i] %}
                    <tr>
                      <td><span id="warning_{{ i }}_datetime"></span></td>
                      <td>{{ warnings[i].emergency }}</td>
                      <td>{{ warnings[i].title }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </table>
                  {% else %}
                  <div class="boardColumnItem">No warning</div>
                  {% endif %}
                </div>
              </a>
            </div>
            {% endif %}
          </div>

          {% if ecosystems %}
          <h2>Ecosystems overview</h2>
          <div>
            {% for ecosystem_id in ecosystems %}
            <div class="board" style="min-height: 150px;">
              <div class="boardHeader" style="text-align: center;">
                {{ecosystems[ecosystem_id]["name"]}} &emsp;
                <i class="fa fa-circle {{ ecosystems[ecosystem_id]["status"] }}" style="margin-left: auto;"></i>
              </div>
              <div class="boardRowContainer" style="text-align: left;">
                {% set any_info = False %}
                {% if ecosystems[ecosystem_id]["lighting"] %}
                {% set any_info = True %}
                <!-- Light parameters for {{ ecosystems[ecosystem_id]["name"] }} -->
                <div class="boardRowItem">
                  <div class="boardColumnTitle">Light</div>
                  <div class="boardColumnItem">Status: <i class="fas fa-sync-alt" id ={{ ecosystem_id }}_light_status></i> </div>
                  {% if light_data[ecosystem_id]["mode"] != "NA" %}
                  {% if light_data[ecosystem_id]["method"] == "fixed" %}
                  <div class="boardColumnItem">
                    Light: from <span id="lightMorningStart_{{ ecosystem_id }}"></span>
                    to <span id="lightEveningEnd_{{ ecosystem_id }}"></span>
                  </div>
                  {% elif light_data[ecosystem_id]["method"] == "elongate" %}
                  <div class="boardColumnItem">
                    Morning light:
                    {% if light_data[ecosystem_id]["morning_start"] < light_data[ecosystem_id]["morning_end"] %}
                    from <span id="lightMorningStart_{{ ecosystem_id }}"></span>
                    to <span id="lightMorningEnd_{{ ecosystem_id }}"></span>
                    {% else %}
                    no lighting
                    {% endif %}
                  </div>
                  <div class="boardColumnItem">
                    Evening light:
                    {% if light_data[ecosystem_id]["evening_start"] < light_data[ecosystem_id]["evening_end"] %}
                    from <span id="lightEveningStart_{{ ecosystem_id }}"></span>
                    to <span id="lightEveningEnd_{{ ecosystem_id }}"></span>
                    {% else %}
                    no lighting
                    {% endif %}
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
                {% endif %}

                {% if ecosystems[ecosystem_id]["env_sensors"] and current_data[ecosystem_id] %}
                {% set any_info = True %}
                <!-- Environmental sensors for {{ ecosystems[ecosystem_id]["name"] }} -->
                <div class="boardRowItem">
                <div class="boardColumnTitle">Environment</div>
                  {% for measure in measures[ecosystem_id]["environment"] %}
                  <div class="boardColumnItem">
                    {{ measure.capitalize()|removeUnderscores }}:
                    <span id="{{ ecosystem_id }}_{{ measure }}_avg">NA</span>{{ parameters['environment']['unit'][measure] }}
                  </div>
                  {% endfor %}
                </div>
                {% endif %}

                {% if ecosystems[ecosystem_id]["plant_sensors"] and current_data[ecosystem_id] %}
                {% set any_info = True %}
                <!-- Plants sensors for {{ ecosystems[ecosystem_id]["name"] }} -->
                <div class="boardRowItem">
                  <div class="boardColumnTitle">Plants</div>
                  <div class="boardColumnItem">TODO</div>
                  <div class="boardColumnItem"></div>
                </div>
                {% endif %}

                {% if not any_info %}
                <div class="boardRowItem">
                  <div class="boardColumnTitle">TODO</div>
                  <div class="boardColumnItem">Display info when nothing's available</div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $('#today_day').text(formattedDate);

    {% if sun_times %}
    let timeSunrise = new Date("{{ sun_times["sunrise"] }}")
    let timeSunset = new Date("{{ sun_times["sunset"] }}")
    $('#sunrise').text(timeSunrise.toLocaleTimeString([], {timeStyle: "short"}));
    $('#sunset').text(timeSunset.toLocaleTimeString([], {timeStyle: "short"}));

    socket.on('sun_times', function(msg) {
      timeSunrise = new Date(msg.sunrise)
      timeSunset = new Date(msg.sunset)
      $('#sunrise').text(timeSunrise.toLocaleTimeString([], {timeStyle: "short"}));
      $('#sunset').text(timeSunset.toLocaleTimeString([], {timeStyle: "short"}));
    });
    {% endif %}

    {% if weather_data %}
    // Weather related spans settings and update event
    $('#weather_summary').text('{{ weather_data["currently"]["summary"] }}');
    $('#weather_temperature').text(Number({{ weather_data["currently"]["temperature"] }}).toFixed(1));
    $('#weather_windSpeed').text(Number( {{weather_data["currently"]["windSpeed"] }}).toFixed(1));
    $('#weather_precipProbability').text(Number({{ weather_data["currently"]["precipProbability"] }} * 100).toFixed(0));
    $('#weather_humidity').text(Number({{ weather_data["currently"]["humidity"] }} * 100).toFixed(0));
    $('#weather_cloudCover').text(Number({{ weather_data["currently"]["cloudCover"] }} * 100).toFixed(0));

    socket.on('current_weather', function(msg) {
      $('#weather_summary').text(msg.summary);
      $('#weather_temperature').text(Number(msg.temperature).toFixed(1));
      $('#weather_windSpeed').text(Number(msg.windSpeed).toFixed(1));
      $('#weather_precipProbability').text(Number(msg.precipProbability * 100).toFixed(0));
      $('#weather_humidity').text(Number(msg.humidity * 100).toFixed(0));
      $('#weather_cloudCover').text(Number(msg.cloudCover * 100).toFixed(0));
    });
    {% endif %}

    {% if current_user.is_administrator %}
    // Server related spans settings and update event
    $('#server_uptime').text('{{ system_data["uptime"] }}');
    $('#server_CPU_used').text(Number({{ system_data["CPU_used"] }}).toFixed(2));
    $('#server_CPU_temp').text(Number({{ system_data["CPU_temp"] }}).toFixed(2));
    $('#server_RAM_used').text(Number({{ system_data["RAM_used"] }}).toFixed(2));
    $('#server_RAM_total').text(Number({{ system_data["RAM_total"] }}).toFixed(2));
    $('#server_DISK_used').text(Number({{ system_data["DISK_used"] }}).toFixed(2));
    $('#server_DISK_total').text(Number({{ system_data["DISK_total"] }}).toFixed(2));

    let server_CPU_used_values = [];

    socketAdmin.on('current_server_data', function(msg) {
      $('#server_uptime').text(msg.uptime);
      $('#server_CPU_temp').text(Number(msg.CPU_temp).toFixed(2));
      $('#server_RAM_used').text(Number(msg.RAM_used).toFixed(2));
      $('#server_RAM_total').text(Number(msg.RAM_total).toFixed(2));
      $('#server_DISK_used').text(Number(msg.DISK_used).toFixed(2));
      $('#server_DISK_total').text(Number(msg.DISK_total).toFixed(2));

      server_CPU_used_values.push(msg.CPU_used)
      server_CPU_used_values = server_CPU_used_values.slice(-5);
      let server_CPU_used_sum = 0;
      for (i = 0; i < server_CPU_used_values.length; i++)
          server_CPU_used_sum += server_CPU_used_values[i];
      $('#server_CPU_used').text((Math.round(10 * server_CPU_used_sum /
        server_CPU_used_values.length) / 10 ).toFixed(2));
    });
    {% endif %}

    {% if current_user.is_authenticated %}
    // Warnings
    {% if warnings %}
    {% for i in range(10) %}
    {% if warnings[i] %}
    let warning_{{ i }}_dt = new Date("{{ warnings[i].datetime }}");
    $('#warning_{{ i }}_datetime').text(warning_{{ i }}_dt.toLocaleTimeString());
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if ecosystems %}
    // Ecosystems
    {% for ecosystem_id in ecosystems %}
    // Ecosystem {{ ecosystem_id }}: {{ ecosystems[ecosystem_id]["name"] }}
    // Sensors related spans settings
    {% if current_data[ecosystem_id] %}

    {% for measure in measures[ecosystem_id]["environment"] %}
    let {{ ecosystem_id }}_{{ measure }} = [];
    {% endfor %}

    {% for sensor_id in current_data[ecosystem_id]["data"] %}
    {% for measure in current_data[ecosystem_id]["data"][sensor_id] %}
    // TODO: add plants level
    {% if measure in measures[ecosystem_id]["environment"] %}
    {{ ecosystem_id }}_{{ measure }}.push(
        {{ current_data[ecosystem_id]["data"][sensor_id][measure] }});
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% for measure in measures[ecosystem_id]["environment"] %}
    let {{ ecosystem_id }}_{{ measure }}_sum = 0;
    for (i = 0; i < {{ ecosystem_id }}_{{ measure }}.length; i++)
        {{ ecosystem_id }}_{{ measure }}_sum += {{ ecosystem_id }}_{{ measure }}[i];
    $('#{{ ecosystem_id }}_{{ measure }}_avg').text((Math.round(
        10 * {{ ecosystem_id }}_{{ measure }}_sum /
        {{ ecosystem_id }}_{{ measure }}.length) / 10 ).toFixed(1));
    {% endfor %}
    {% endif %}

    // Light
    if ({{ light_data[ecosystem_id]["status"]|toJSBool }}) {
            $("i#{{ ecosystem_id }}_light_status").addClass("on");
        } else {
            $("i#{{ ecosystem_id }}_light_status").addClass("off");
        }
    if ("{{ light_data[ecosystem_id]["mode"] }}" == "automatic") {
            $("i#{{ ecosystem_id }}_light_status").addClass("fa-spin");
        }

    socket.on("light_data", function(msg) {
        if (msg.{{ ecosystem_id }}.status) {
            $("i#{{ ecosystem_id }}_light_status").addClass("on");
            $("i#{{ ecosystem_id }}_light_status").removeClass("off");
        } else {
            $("i#{{ ecosystem_id }}_light_status").addClass("off");
            $("i#{{ ecosystem_id }}_light_status").removeClass("on");
        }
        if (msg.{{ ecosystem_id }}.mode == "automatic") {
            $("i#{{ ecosystem_id }}_light_status").addClass("fa-spin");
        } else {
            $("i#{{ ecosystem_id }}_light_status").removeClass("fa-spin");
        }
    });

    {% if light_data[ecosystem_id]["mode"] != "NA" %}
    let morningStart_{{ ecosystem_id }} = new Date(
      "{{ light_data[ecosystem_id]["morning_start"] }}")
    let eveningEnd_{{ ecosystem_id }} = new Date(
      "{{ light_data[ecosystem_id]["evening_end"] }}")
    $('#lightMorningStart_{{ ecosystem_id }}').text(
      morningStart_{{ ecosystem_id }}.toLocaleTimeString([], {timeStyle: "short"}));
    $('#lightEveningEnd_{{ ecosystem_id }}').text(
      eveningEnd_{{ ecosystem_id }}.toLocaleTimeString([], {timeStyle: "short"}));

    {% if light_data[ecosystem_id]["method"] == "elongate" %}
    let morningEnd_{{ ecosystem_id }} = new Date(
      "{{ light_data[ecosystem_id]["morning_end"] }}")
    let eveningStart_{{ ecosystem_id }} = new Date(
      "{{ light_data[ecosystem_id]["evening_start"] }}")
    $('#lightMorningEnd_{{ ecosystem_id }}').text(
      morningEnd_{{ ecosystem_id }}.toLocaleTimeString([], {timeStyle: "short"}));
    $('#lightEveningStart_{{ ecosystem_id }}').text(
      eveningStart_{{ ecosystem_id }}.toLocaleTimeString([], {timeStyle: "short"}));
    {% endif %}
    {% endif %}

    //TODO: light socketio events
    // Plants related spans settings
    // TODO
    {% endfor %}

    // Socket.IO ecosystems event
    socket.on('current_sensors_data', function(msg) {
      {% for ecosystem_id in ecosystems %}
      {% if current_data[ecosystem_id] %}
      // Reset measure lists
      {% for measure in measures %}
      {{ ecosystem_id }}_{{ measure }} = [];
      {% endfor %}

      {% for sensor_id in current_data[ecosystem_id]["data"] %}
      {% for measure in current_data[ecosystem_id]["data"][sensor_id] %}
      // TODO: add plants level
      {% if measure in measures[ecosystem_id]["environment"] %}
      {{ ecosystem_id }}_{{ measure }}.push(
        msg.{{ ecosystem_id }}.data.{{ sensor_id }}.{{ measure }}
      );
      {% endif %}
      {% endfor %}
      {% endfor %}

      {% for measure in measures[ecosystem_id]["environment"] %}
      {{ ecosystem_id }}_{{ measure }}_sum = 0;
      for (i = 0; i < {{ ecosystem_id }}_{{ measure }}.length; i++)
        {{ ecosystem_id }}_{{ measure }}_sum += {{ ecosystem_id }}_{{ measure }}[i];
      $('#{{ ecosystem_id }}_{{ measure }}_avg').text((Math.round(
        10 * {{ ecosystem_id }}_{{ measure }}_sum /
        {{ ecosystem_id }}_{{ measure }}.length) / 10 ).toFixed(1));
      {% endfor %}

      {% endif %}
      {% endfor %}
    });
    {% endif %}

    </script>
{% endblock %}