{% extends 'main/menu.html' %}

{% block header %}Plant sensors in {{ecosystem_name}}{% endblock %}
{% block info %}Last sensor record at {{last_data[ecosystem]['datetime'].strftime('%H:%M:%S')}}{% endblock %}

{% block content %}
  <div class="subtitleFix"></div>
  {% for plant in last_data[ecosystem]['plants'] %}
    <h2>{{plant.capitalize()}}</h2>
    {% for measure in week_data[plant] %}
      {% if week_data[plant][measure]|length > 10 %}
      <div class="board">
        <div class="boardHeader">     
            <i class="{{parameters['plants']['icon'][measure]}} leftico"></i>
            {% if measure.isupper() %}
              {{measure}}
            {% else %}
              {{measure.capitalize()}}
            {% endif %}
        </div> 
        <div class="boardRowContainer">
          <div class="sensorGauge">
            <canvas id="{{plant}}{{measure}}Gauge"></canvas> {{last_data[ecosystem]['plants'][plant][measure]|roundDecimals}}{{parameters['plants']['unit'][measure]}}
          </div>
          <div class="graph">
            <canvas id="{{plant}}{{measure}}Chart" style="width:100%; height:100%;"></canvas>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        var gaugeOpts = {
          lines: 12,
          angle: -0.11,            // The span of the gauge arc
          lineWidth: 0.25,         // The line thickness
          radiusScale: 0.7,        // Relative radius
          pointer: {
            length: 0.6,           // Relative to gauge radius
            strokeWidth: 0.035,    // The thickness
            color: "#000000"       // Fill color
          },
          limitMax: true,          // If false, max value increases automatically if value > maxValue
          limitMin: true,          // If true, the min value of the gauge will be fixed
          colorStart: "#6FADCF",   // Colors
          colorStop: "#8FC0DA",    // just experiment with them
          strokeColor: "#E0E0E0",  // to see which ones work best for you
          generateGradient: true,
          highDpiSupport: true,    // High resolution support
        };
        var target = document.getElementById("{{plant}}{{measure}}Gauge");  // your canvas element
        var gauge = new Gauge(target).setOptions(gaugeOpts);                // create sexy gauge!
        gauge.maxValue = {{parameters['plants']['max_value'][measure]}};    // set max gauge value
        gauge.animationSpeed = 32;                                          // set animation speed (32 is default value)
        gauge.setMinValue(0);
        gauge.set({{last_data[ecosystem]['plants'][plant][measure]}});      // set actual value

        var {{plant}}{{measure}}ChartData = {
          labels: [{% for item in week_data[plant][measure] %}
                     "{{item[0]}}",
                   {% endfor %}],
          datasets: [{
            label: "{{plant.capitalize()}}",
            data: [{% for item in week_data[plant][measure] %}
                     {{item[1]}},
                   {% endfor %}],
            backgroundColor: "rgba(255,255,255,0)",
            radius: 0,
            hitRadius: 2,
            borderColor: "{{parameters['plants']['color'][measure]}}",
            borderJoinStyle: "round",
            borderWidth: 2,
          }]
        };
        var {{plant}}chartLayout = {
          legend:{
            display: false
          },
          scales: {
            xAxes: [{
              type: "time",
              time: {
                unit: "day",
                unitStepSize: 1,
                displayFormats: {"day": "ddd DD MMM"}
              }
            }],
            yAxes: [{
              display: true,
              ticks: {
                beginAtZero: true,
                suggestedMax: {{parameters['plants']['max_value'][measure]}},
                steps: {{parameters['plants']['max_value'][measure] /10}},
              }
            }]
          }
        };
        var {{plant}}{{measure}}ctx = document.getElementById("{{plant}}{{measure}}Chart");
        var {{plant}}{{measure}}Chart = new Chart({{plant}}{{measure}}ctx, {
          type: "line",
          data: {{plant}}{{measure}}ChartData,
          options: {{plant}}chartLayout,
          responsive:true,
          maintainAspectRatio: false,
        });
      </script>

      {% else %}
        <p>Sorry, GAIA does not have enough {{measure}} data for {{plant}} to build a nice graph yet. Come back ilater to see your graph.</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}