{% extends 'menu.html' %}

{% block header %}{{ level.capitalize() }} sensors in {{ ecosystem_ids[1] }}{% endblock %}
{% block info %}
{% if current_data[ecosystem_ids[0]] %}
Last sensors measure at <span id="currentDatetime"></span>
{% endif %}
{% endblock %}

{% block content %}
  <div class="subtitleFix"></div>
  {% for measure in data[ecosystem_ids[0]] %}
    <h2>{{ measure.capitalize()|removeUnderscores }}</h2>
    {% for sensor_id in data[ecosystem_ids[0]][measure] %}
      {% if data[ecosystem_ids[0]][measure][sensor_id]["values"]|length > 3 %}
      <div class="board" style="/*height: 230px;*/">
        <h1>
            <i class="{{ parameters[level]["icon"][measure] }} leftIco"></i>
            {{ data[ecosystem_ids[0]][measure][sensor_id]["name"] }}
        </h1>
        <div class="boardRowContainer" style="min-height: 183px; row-gap: 6px"> <!--<div class="boardRowContainer" style="height: 183px;">-->
          {% if current_data[ecosystem_ids[0]] %}
          <div class="boardColumnContainer max250OnScreen" style="min-width: 225px; flex:1">
            <div class="gaugeContainer">
              <canvas id="Gauge{{ measure.capitalize() }}_{{ sensor_id }}"></canvas>
            </div>
            <div>
              <span id="currentData{{ measure.capitalize() }}_{{ sensor_id }}"></span>
              {{ parameters[level]['unit'][measure] }}
            </div>
          </div>
          {% endif %}
          <div class="chartContainer" style="flex: 1; height: 185px">
            <canvas id="Chart{{ measure.capitalize() }}_{{ sensor_id }}"></canvas>
          </div>
        </div>
      </div>

      {% else %}
        <p>
          Sorry, GAIA does not have enough {{ measure|removeUnderscores }} data from {{ data[ecosystem_ids[0]][measure][sensor_id]["name"] }}
          to build a nice graph yet. Come back later to see your graph.
        </p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    {% if current_data[ecosystem_ids[0]] %}
    // Get last sensors measure time
    let currentDatetime = new Date('{{ current_data[ecosystem_ids[0]]["datetime"] }}');
    $('#currentDatetime').text(currentDatetime.toLocaleTimeString());
    {%  endif %}

    // Generate Data spans, Gauges and Charts
    {% for measure in data[ecosystem_ids[0]] %}
    {% for sensor_id in data[ecosystem_ids[0]][measure] %}
    {% if current_data[ecosystem_ids[0]] %}

    let currentData{{ measure.capitalize() }}_{{ sensor_id }} = Number(
        {{ current_data[ecosystem_ids[0]]["data"][sensor_id][measure] }}).toFixed(1);
    $('#currentData{{ measure.capitalize() }}_{{ sensor_id }}').text(currentData{{ measure.capitalize() }}_{{ sensor_id }});

    const gaugeOpts{{ measure.capitalize() }}_{{ sensor_id }} = {
      lines: 12,
      angle: -0.11,            // The span of the gauge arc
      lineWidth: 0.25,         // The line thickness
      radiusScale: 0.7,        // Relative radius
      pointer: {
        length: 0.6,           // Relative to gauge radius
        strokeWidth: 0.035,    // The thickness
        color: "#000000"       // Fill color
      },
      limitMax: true,          // If false, max value increases automatically if value > maxValue
      limitMin: true,          // If true, the min value of the gauge will be fixed
      colorStart: "#6FADCF",   // Colors
      colorStop: "#8FC0DA",    // just experiment with them
      strokeColor: "#E0E0E0",  // to see which ones work best for you
      generateGradient: true,
      highDpiSupport: true,    // High resolution support
    };
    const target{{ measure.capitalize() }}_{{ sensor_id }} = document.getElementById(
        "Gauge{{ measure.capitalize() }}_{{ sensor_id }}");                                                      // your canvas element
    var gauge{{ measure.capitalize() }}_{{ sensor_id }} = new Gauge(
        target{{ measure.capitalize() }}_{{ sensor_id }}).setOptions(
        gaugeOpts{{ measure.capitalize() }}_{{ sensor_id }});                                                    // create sexy gauge!
    gauge{{ measure.capitalize() }}_{{ sensor_id }}.setMinValue(0);
    gauge{{ measure.capitalize() }}_{{ sensor_id }}.maxValue = {{ parameters[level]['max_value'][measure] }};    // set max gauge value
    gauge{{ measure.capitalize() }}_{{ sensor_id }}.animationSpeed = 32;                                         // set animation speed (32 is default value)
    gauge{{ measure.capitalize() }}_{{ sensor_id }}.set(currentData{{ measure.capitalize() }}_{{ sensor_id }});  // set actual value
    {% endif %}

    var ChartData{{ measure.capitalize() }}_{{ sensor_id }} = {
      labels: [
        //formatting as ISO but with utc timezone added
        {% for item in data[ecosystem_ids[0]][measure][sensor_id]["values"] %}
          new Date("{{ (item[0]).strftime("%Y-%m-%dT%H:%M:%SZ") }}"),
        {% endfor %}
      ],
      datasets: [{
        label: "{{measure.capitalize()}}",
        data: [{% for item in data[ecosystem_ids[0]][measure][sensor_id]["values"] %}
                 Number({{ item[1] }}).toFixed(1),
               {% endfor %}],
        backgroundColor: 'rgba(255,255,255,0)',
        radius: 0,
        hitRadius: 2,
        borderColor: "{{ parameters[level]['color'][measure] }}",
        borderJoinStyle: "round",
        borderWidth: 2,
      }]
    };
    var {{ measure }}chartLayout = {
      legend:{
        display: false
      },
      scales: {
        xAxes: [{
          type: "time",
          time: {
            unit: "day",
            unitStepSize: 1,
            displayFormats: {"day": "ddd DD MMM"},
            tooltipFormat: 'YYYY-MM-DD HH:mm',
          }
        }],
        yAxes: [{
          display: true,
          ticks: {
            beginAtZero: true,
            {{ 'max' if measure in ('humidity', 'moisture') else 'suggestedMax' }}:
              {{ parameters[level]['max_value'][measure] }},
            steps: {{ parameters[level]['max_value'][measure] /10 }},
          }
        }]
      },
      maintainAspectRatio: false,
      responsive: true,
    }
    var ctx{{ measure.capitalize() }}_{{ sensor_id }} = document.getElementById("Chart{{ measure.capitalize() }}_{{ sensor_id }}");
    var Chart{{ measure.capitalize() }}_{{ sensor_id }} = new Chart(ctx{{ measure.capitalize() }}_{{ sensor_id }}, {
      type: "line",
      data: ChartData{{ measure.capitalize() }}_{{ sensor_id }},
      options: {{ measure }}chartLayout,
    });
    {% endfor %}
    {% endfor %}

    {% if current_data[ecosystem_ids[0]] %}
    socket.on('current_sensors_data', function(msg) {
      // Update last sensors measure time
      let currentDatetime = new Date(msg.{{ ecosystem_ids[0] }}.datetime);
      $('#currentDatetime').text(currentDatetime.toLocaleTimeString());
      // Update Data spans and Gauges
      {% for measure in data[ecosystem_ids[0]] %}
      {% for sensor_id in data[ecosystem_ids[0]][measure] %}
      currentData{{ measure.capitalize() }}_{{ sensor_id }} = Number(
        msg.{{ ecosystem_ids[0] }}.data.{{ sensor_id }}.{{ measure }}
      ).toFixed(1);
      $('#currentData{{ measure.capitalize() }}_{{ sensor_id }}').text(
        currentData{{ measure.capitalize() }}_{{ sensor_id }});
      gauge{{ measure.capitalize() }}_{{ sensor_id }}.animationSpeed = 1024;
      gauge{{ measure.capitalize() }}_{{ sensor_id }}.set(currentData{{ measure.capitalize() }}_{{ sensor_id }});
      {% endfor %}
      {% endfor %}
    });
    {% endif %}

    socket.on('update_sensors_graph', function(msg) {
      let lastUpdateTime = new Date(msg.{{ ecosystem_ids[0] }}.datetime);

      let dayWindow = 7;
      let dataWindowLimit = new Date();
      dataWindowLimit.setDate(lastUpdateTime.getDate() - dayWindow);

      // Update Charts
      {% for measure in data[ecosystem_ids[0]] %}
      {% for sensor_id in data[ecosystem_ids[0]][measure] %}
      // Push new data for Measure: {{ measure }} - Sensor: {{ sensor_id }}
      ChartData{{ measure.capitalize() }}_{{ sensor_id }}.labels.push(lastUpdateTime);
      ChartData{{ measure.capitalize() }}_{{ sensor_id }}.datasets[0].data.push(
        Number(msg.{{ ecosystem_ids[0] }}.data.{{ sensor_id }}.{{ measure }}).toFixed(1)
      );
      // Get the number of data points which should be displayed
      var dataWindowLength = ChartData{{ measure.capitalize() }}_{{ sensor_id }}.labels.filter(x => x > dataWindowLimit).length;

      // Only keep data points within the desired range
      ChartData{{ measure.capitalize() }}_{{ sensor_id }}.labels =
        ChartData{{ measure.capitalize() }}_{{ sensor_id }}.labels.slice(- dataWindowLength);
      ChartData{{ measure.capitalize() }}_{{ sensor_id }}.datasets[0].data =
        ChartData{{ measure.capitalize() }}_{{ sensor_id }}.datasets[0].data.slice(- dataWindowLength);

      Chart{{ measure.capitalize() }}_{{ sensor_id }}.update();
      {% endfor %}
      {% endfor %}
    });
    </script>
{% endblock %}
