{% extends 'menu.html' %}

{% block header %}{{ ecosystem_ids[1] }} settings{% endblock %}
{% block info %}{% endblock %}

{% block content %}
  <table style="table-layout: fixed; width: 100%; text-align: left;">
    <tr>
      <th>Name</th>
      <th>UID</th>
      <th>Address</th>
      <th>Type</th>
      <th>Level</th>
      <th>Model</th>
      <th>Last log entry</th>
      <th>Action</th>
    </tr>
    {% for hardware_id in hardware[ecosystem_ids[0]] %}
    {% set hardware_obj = hardware[ecosystem_ids[0]][hardware_id] %}
    <tr>
      <td>{{ hardware_obj["name"] }}</td>
      <td>{{ hardware_id }}</td>
      <td>{{ hardware_obj["address"] }}</td>
      <td>{{ hardware_obj["type"] }}</td>
      <td>{{ hardware_obj["level"] }}</td>
      <td>{{ hardware_obj["model"] }}</td>
      <td><span id="last_log_{{ hardware_id }}"></span></td>
      <td>
        <div>
          <button id="edit_{{ hardware_id }}" style="font-size: 18px"><i class="fas fa-edit"></i></button> &emsp;
          <button id="delete_{{ hardware_id }}" style="font-size: 18px"><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      let hardware = {{ hardware[ecosystem_ids[0]] | tojson }};

      for (const h in hardware) {
        if (hardware.hasOwnProperty(h)) {
          if (hardware[h]["last_log"] !== null){
            const date = new Date(hardware[h]["last_log"]);
            $("#last_log_" + h).text(date.toLocaleString());
          }

          $("button#delete_" + h).click(function() {
            if (confirm("Are you sure you wan to delete " + hardware[h]["type"] + " " + h + "?")){
              alert(capitalize(hardware[h]["type"]) + " " + h + " has been deleted.")
            } else {
              alert("You chose wisely")
            }
          });
        }
      }
    </script>
{% endblock %}