{% extends 'menu.html' %}

{% block header %}Switches in {{ ecosystem_ids[1] }}{% endblock %}
{% block info %}{% endblock %}

{% set modes = ("on", "off", "automatic") %}

{% block content %}
  {% for switch in ("light", ) %}
  <div class="row">
    <div class="board max400OnScreen">
      <h1>{{ switch.capitalize() }} switch</h1>
      <div class="boardRowContainer">
        <div class="switchStatusContainer">
          <div class="center">
            <i class="fas fa-sync-alt" id="{{ switch }}_status" style="font-size: 165px; margin: auto"></i>
          </div>
        </div>
        <div class="boardColumnContainer" style="margin: auto; min-width: 0;">
          {% for mode in modes %}
          {% if current_user.is_operator %}
          <button id="{{ switch }}_{{ mode }}" title="Turn {{ switch }} {{ mode }}">{{ mode.capitalize() }}</button>
          {% else %}
          <button id="{{ switch }}_{{ mode }}" disabled title="You need to be an operator to turn {{ switch }} {{ mode }}">{{ mode.capitalize() }}</button>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let switches = {{ switches | tojson }};

        function updateSwitches(type) {
          // Status
          if (switches[type]["status"]) {
            $("i#" + type + "_status").addClass("on").removeClass("off");
          } else {
            $("i#" + type + "_status").addClass("off").removeClass("on");
          }
          // Mode
          if (switches[type]["mode"] === "automatic") {
            $("i#" + type + "_status").addClass("fa-spin");
          } else {
            $("i#" + type + "_status").removeClass("fa-spin");
          }
        }

        for (const type in switches) {
          if (switches.hasOwnProperty(type)) {
            // Set switches status
            updateSwitches(type);
            // Socket.IO events
            socket.on(type + "_data", function(msg) {
              Object.assign(switches[type], msg["{{ ecosystem_ids[0] }}"]);
              updateSwitches(type);
            });
          }
        }

        {% if current_user.is_operator %}
        const switchOptions = ["on", "off", "automatic"]

        for (const type in switches) {
          if (switches.hasOwnProperty(type)) {
            for (const option of switchOptions) {
              $("button#" + type + "_" + option).click(function() {
                socket.emit("turn_" + type, {ecosystem: "{{ ecosystem_ids[0] }}", mode: option });
                return false;
              });
            }
          }
        }
        {% endif %}
    </script>
{% endblock %}