{% extends 'main/menu.html' %}

{% block header %}Switches in {{ecosystem_ids[1]}}{% endblock %}
{% block info %}{% endblock %}

{% block content %}
  <button id="On" class="weatherButton">On</button>
  <button id="Off" class="weatherButton">Off</button>
  <button id="Auto" class="weatherButton">Auto</button>

  <script type="text/javascript">
    $(document).ready(function() {
      namespace = "/browser";
      var socket = io(namespace);

      $("button#On").click(function() {
          socket.emit("turn_light_on", {ecosystem: "{{ecosystem_ids[0]|safe}}" });
          return false;
      });
      $("button#Off").click(function() {
          socket.emit("turn_light_off", {ecosystem: "{{ecosystem_ids[0]|safe}}"});
          return false;
      });
      $("button#Auto").click(function() {
          socket.emit("turn_light_auto", {ecosystem: "{{ecosystem_ids[0]|safe}}"});
          return false;
      });
    });
  </script>
{% endblock %}