{% extends 'menu.html' %}

{% block header %}Weather in {{home_city}}{% endblock %}
{% block info %}Last update at
<span id="update_time"></span> | <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
{% endblock %}

{% block content %}
  <!--Weather icons are from Ladalle CS https://www.iconfinder.com/ambo_dalle, with slight modifications at the thunder icons + night
  wind icon from Pixel Bazaar https://www.iconfinder.com/zlaten -->
  {% set measures = {
    "temperature": {"label": "Temperature", "color": "#f0341f", "unit_modif": 1, "max": 20},
    "precipProbability": {"label": "Precipitation", "color": "#226ba3", "unit_modif": 100, "max": 20},
    "humidity": {"label": "Humidity", "color": "#226ba3", "unit_modif": 100, "max": 100},
    }
  %}
  <div class="board" style="min-height: 315px;">
    <h1>
      Daily forecast
    </h1>
    <div class="boardRowContainer" style="min-height: 268px; row-gap: 6px">
      <div class="boardColumnContainer max250OnScreen" style="min-width: 225px; flex:1">
        <div class="boardSubTitle"><span id="today_date"></span></div>
        <div class="boardFlexItemU"><span id="today_temperature"></span>°C</div>
        <div class="weatherIcon" style="height: 115px; line-height: 115px; font-size: 70px;"><i class="{{weather_data['currently']['icon']|getWeatherIcon}}"></i></div>
        <div class="boardFlexItemU" style="flex: 2"><span id="today_summary"></span></div>
        <div class="boardFlexItemU">Wind: <span id="today_windSpeed"></span> km/h</div>
        <div class="boardFlexItemU">Precipitation: <span id="today_precipProbability"></span>%</div>
        <div class="boardFlexItemU">Humidity: <span id="today_humidity"></span>%</div>
        <div class="boardFlexItemU">Cloud cover: <span id="today_cloudCover"></span>%</div>
      </div>
      <div style="flex: 1">
        <div style="margin: 10px 0 8px 0;">
          {% for measure in measures %}
          <button id="button_{{ measure }}" class="weatherButton">{{ measures[measure]["label"] }}</button>
          {% endfor %}
        </div>
        <div class="chartContainer">
          <canvas id="Chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="board" style="min-height: 315px; padding-bottom: 10px">
    <h1>
      Week forecast
    </h1>
    <div class="boardRowContainer" style="min-height: 268px; background: #ccc; row-gap: 1px">
      {% for day in range(1,7) %}
      <div class="boardFlexItem boardColumnContainer" style="padding-bottom: 7px">
        <div class="boardSubTitle">{{weather_data['daily'][day]['time']|getDay}}</div>
        <div class="boardFlexItemU">{{weather_data['daily'][day]['temperatureLow']|round(1)}} to {{weather_data['daily'][day]['temperatureHigh']|round(1)}}°C</div>
        <div class="weatherIcon"><i class="{{weather_data['daily'][day]['icon']|getWeatherIcon}}"></i></div>
        <div class="boardFlexItemU" style="flex: 2">{{weather_data['daily'][day]['summary']}}</div>
        <div class="boardFlexItemU">Wind: {{weather_data['daily'][day]['windSpeed']}}km/h</div>
        <div class="boardFlexItemU">Precipitation: {{(weather_data['daily'][day]['precipProbability']*100)|round|int}}%</div>
        <div class="boardFlexItemU">Humidity: {{(weather_data['daily'][day]['humidity']*100)|round|int}}%</div>
        <div class="boardFlexItemU">Cloud cover: {{(weather_data['daily'][day]['cloudCover']*100)|round|int}}%</div>
        <div class="boardFlexItemU">
          <i class="fas fa-sun" ></i> {{weather_data['daily'][day]['sunriseTime']|getTime}} &emsp; 
          <i class="fas fa-moon"></i> {{weather_data['daily'][day]['sunsetTime']|getTime}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    let updateTime = new Date({{ weather_data['currently']['time'] }} * 1000);
    $('#update_time').text(updateTime.toLocaleTimeString([], {timeStyle: "short"}));
    $('#today_temperature').text(Number({{ weather_data["currently"]["temperature"] }}).toFixed(1));
    $('#today_summary').text('{{weather_data["currently"]["summary"]}}');
    $('#today_windSpeed').text(Number({{ weather_data["currently"]["windSpeed"] }}).toFixed(2));
    $('#today_precipProbability').text(Number({{ weather_data["currently"]["precipProbability"]}} * 100).toFixed(0));
    $('#today_humidity').text(Number({{ weather_data["currently"]["humidity"]}} * 100).toFixed(0));
    $('#today_cloudCover').text(Number({{ weather_data["currently"]["cloudCover"]}} * 100).toFixed(0));

    socket.on('current_weather', function(msg) {
      updateTime = new Date(msg.time * 1000);
      $('#update_time').text(updateTime.toLocaleTimeString([], {timeStyle: "short"}));
      $('#today_temperature').text(Number(msg.temperature).toFixed(1));
      $('#today_summary').text(msg.summary);
      $('#today_windSpeed').text(Number(msg.windSpeed).toFixed(2));
      $('#today_precipProbability').text(Number(msg.precipProbability * 100).toFixed(0));
      $('#today_humidity').text(Number(msg.humidity * 100).toFixed(0));
      $('#today_cloudCover').text(Number(msg.cloudCover * 100).toFixed(0));
    });

    // Generate Chart
    var data = {
        labels: [{% for hour in range(0, 25) %}
                  {{weather_data['hourly'][hour]['time'] * 1000}},
                {% endfor %}],
        datasets: [{
                label: "Temperature",
                data: [{% for hour in range(0, 25) %}
                        {{weather_data['hourly'][hour]['temperature']}},
                      {% endfor %}],
                borderColor: "#f0341f",
                backgroundColor: "rgba(255,255,255,0)",
                radius: 0,
                hitRadius: 4,
                type: "line",
        }]
    };
    var chartLayout = {
      scales: {
          xAxes: [{
            type: "time",
            barPercentage: 1.27,
            time: {
              unit: "hour",
              unitStepSize: 1,
              displayFormats: {"hour": "H:mm"}
            }
          }],
          yAxes: [{
            ticks: {
              suggestedMin: 0,
              suggestedMax: 25,
            }
          }]
        },
      legend: {
        display: false
      },
      maintainAspectRatio: false,
      responsive: true,
    };
    var ctx = document.getElementById("Chart");
    var myChart = new Chart(ctx, {
        type: "line",
        data: data,
        options: chartLayout
    });

    // Chart data switch
    {% for measure in measures %}
    $("#button_{{ measure }}").click(function() {
      data.datasets[0].label = "{{ measures[measure]["label"] }}";
      data.datasets[0].data = [{% for hour in range(0, 25) %}
                                  {{ weather_data['hourly'][hour][measure] * measures[measure]["unit_modif"] }},
                                {% endfor %}];
      data.datasets[0].borderColor = "{{ measures[measure]["color"] }}";
      chartLayout.scales.yAxes[0].ticks.suggestedMax[{{ measures[measure]["max"] }}];
      myChart.update();
    });
    {% endfor %}

  </script>
{% endblock %}