{% extends 'menu.html' %}

{% block header %}Weather in {{home_city}}{% endblock %}
{% block info %}Last update at
<span id="update_time"></span> | <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
{% endblock %}

{% block content %}
  <!--Weather icons are from Ladalle CS https://www.iconfinder.com/ambo_dalle, with slight modifications at the thunder icons + night
  wind icon from Pixel Bazaar https://www.iconfinder.com/zlaten -->
  {% set measures = {
    "temperature": {"label": "Temperature", "color": "#f0341f", "unit_modif": 1, "max": 20},
    "precipProbability": {"label": "Precipitation", "color": "#226ba3", "unit_modif": 100, "max": 20},
    "humidity": {"label": "Humidity", "color": "#226ba3", "unit_modif": 100, "max": 100},
    }
  %}
  <div class="board" style="min-height: 315px;">
    <h1>
      Daily forecast
    </h1>
    <div class="boardRowContainer" style="min-height: 268px; row-gap: 6px">
      <div class="boardColumnContainer max250OnScreen" style="min-width: 225px; flex:1">
        <div class="boardSubTitle"><span id="current_date"></span></div>
        <div class="boardFlexItemU"><span id="current_temperature"></span>°C</div>
        <div class="weatherIcon" style="height: 115px; line-height: 115px; font-size: 70px;"><i id="current_icon"></i></div>
        <div class="boardFlexItemU"><span id="current_summary"></span></div>
        <div class="boardFlexItemU">Wind: <span id="current_windSpeed"></span> km/h</div>
        <div class="boardFlexItemU">Precipitation: <span id="current_precipProbability"></span>%</div>
        <div class="boardFlexItemU">Humidity: <span id="current_humidity"></span>%</div>
        <div class="boardFlexItemU">Cloud cover: <span id="current_cloudCover"></span>%</div>
      </div>
      <div style="flex: 1">
        <div style="margin: 10px 0 8px 0;">
          {% for measure in measures %}
          <button id="button_{{ measure }}" class="weatherButton">{{ measures[measure]["label"] }}</button>
          {% endfor %}
        </div>
        <div class="chartContainer">
          <canvas id="Chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="board" style="min-height: 315px; padding-bottom: 10px">
    <h1>
      Week forecast
    </h1>
    <div class="boardRowContainer" id="dailyForecast" style="min-height: 268px; background: #ccc; row-gap: 1px"></div>
  </div>

  <script type="text/javascript">
    function extractWeatherForecastData(myWeatherArray, dataName) {
      let result = [];
      for (const element in myWeatherArray) {
        if (dataName === "time") {
          let datetime = new Date(myWeatherArray[element][dataName] * 1000)
          result.push(datetime)
        } else {
          result.push(myWeatherArray[element][dataName])
        }
      }
      return result;
    }

    /* Current weather */
    let currentWeatherData = {{ current_weather | tojson }};
    const currentWeatherDataFactors = {
        "temperature": {"label": "Temperature", "dataFactor": 1, "unit": "°C"},
        "windSpeed": {"label": "Wind speed", "dataFactor": 1, "unit": "km/h"},
        "precipProbability": {"label": "Precipitation", "dataFactor": 100, "unit": "%"},
        "humidity" : {"label": "Humidity", "dataFactor": 1, "unit": "%"},
        "cloudCover": {"label": "Cloud cover", "dataFactor": 100, "unit": "%"},
    };

    // Update spans
    function updateCurrentWeatherSpans() {

      // TODO: change icon
      const updateTime = new Date(currentWeatherData["time"] * 1000);
      $('#update_time').text(updateTime.toLocaleTimeString([], {timeStyle: "short"}));
      $('#current_date').text(formatDate(updateTime));
      let iconClass = getWeatherIconClass(currentWeatherData["icon"]);
      $('#current_icon').removeClass().addClass(iconClass);
      $('#current_summary').text(currentWeatherData["summary"]);
      for (const measure in currentWeatherDataFactors) {
        if (currentWeatherDataFactors.hasOwnProperty(measure)) {
          $('#current_' + measure).text(Number(currentWeatherData[measure] * currentWeatherDataFactors[measure]["dataFactor"]).toFixed(1));
        }
      }
    }

    updateCurrentWeatherSpans();

    // Socket.IO event calls
    socket.on('current_weather', function(msg) {
      currentWeatherData = msg;
      updateCurrentWeatherSpans()
    });

    /* Hourly forecast */
    let hourlyWeatherData = {{ hourly_weather | tojson }};
    const graphWeatherParameters = {
      "temperature": {"label": "Temperature", "color": "#f0341f", "dataFactor": 1, "max": 20},
      "precipProbability": {"label": "Precipitation", "color": "#226ba3", "dataFactor": 100, "max": 20},
      "humidity": {"label": "Humidity", "color": "#226ba3", "dataFactor": 100, "max": 100},
    };
    let currentGraphTab = Object.keys(graphWeatherParameters)[0];

    // Create graph
    var chartData = defaultChartData;
    chartData["labels"] = extractWeatherForecastData(hourlyWeatherData["forecast"], "time");
    chartData.datasets[0].data = extractWeatherForecastData(hourlyWeatherData["forecast"], currentGraphTab
        ).map(element => element * graphWeatherParameters[currentGraphTab]["dataFactor"]);
    chartData.datasets[0].borderColor = graphWeatherParameters[currentGraphTab]["color"];

    var chartLayout = defaultChartLayout;
    chartLayout.scales.xAxes[0]["time"] = {
              "unit": "hour",
              "unitStepSize": 1,
              "displayFormats": {"hour": "H:mm"}
          }
    chartLayout.scales["yAxes"] = [{
            "ticks": {
              "suggestedMin": 0,
              "suggestedMax": graphWeatherParameters[currentGraphTab]["max"],
            }
          }]

    var ctx = document.getElementById("Chart");
    var myChart = new Chart(ctx, {
        type: "line",
        data: chartData,
        options: chartLayout
    });

    // Update graph
    function updateWeatherGraph(measure) {
      currentGraphTab = measure;
      chartData.datasets[0].label = extractWeatherForecastData(hourlyWeatherData["forecast"], "time");
      chartData.datasets[0].data = extractWeatherForecastData(hourlyWeatherData["forecast"], measure
          ).map(element => element * graphWeatherParameters[measure]["dataFactor"]);
      chartData.datasets[0].borderColor = graphWeatherParameters[measure]["color"];
      chartLayout.scales.yAxes[0].ticks.suggestedMax[graphWeatherParameters[measure]["max"]];
      myChart.update();
    }

    for (const measure in graphWeatherParameters) {
      if (graphWeatherParameters.hasOwnProperty(measure)) {
        $("#button_" + measure).click(function() {
          updateWeatherGraph(measure);
        });
      }
    }

    // Socket.IO event calls
    socket.on('hourly_weather', function(msg) {
      hourlyWeatherData = msg;
      updateWeatherGraph(currentGraphTab);
    });

    /* Daily forecast */
    let dailyWeatherData = {{ daily_weather | tojson }};
    let dailyWeatherDataFactors = currentWeatherDataFactors
    delete dailyWeatherDataFactors["temperature"]

    function updateDailyWeatherSpans() {
      let dailyForecast = document.createElement("div");
      dailyForecast.className = "boardFlexItem boardRowContainer";

      for (const day in dailyWeatherData["forecast"]) {
        let newDiv = document.createElement("div");
        newDiv.className = "boardFlexItem boardColumnContainer";
        // Format subtitle
        let date = new Date(dailyWeatherData["forecast"][day]["time"] * 1000);
        let subTitle = document.createElement("div");
        subTitle.className = "boardSubTitle";
        subTitle.appendChild(document.createTextNode(formatDate(date)));
        newDiv.appendChild(subTitle);
        // Temperature range
        let low = dailyWeatherData["forecast"][day]["temperatureLow"].toFixed(1);
        let high = dailyWeatherData["forecast"][day]["temperatureHigh"].toFixed(1);
        let tempDiv = document.createElement("div");
        tempDiv.className = "boardFlexItemU";
        tempDiv.appendChild(document.createTextNode(low + " to " + high + "°C"));
        newDiv.appendChild(tempDiv);
        // Icon
        let icoDiv = document.createElement("div");
        icoDiv.className = "weatherIcon";
        let weatherIcon = document.createElement("i");
        weatherIcon.className = getWeatherIconClass(dailyWeatherData["forecast"][day]["icon"]);
        icoDiv.appendChild(weatherIcon);
        newDiv.appendChild(icoDiv);
        // Summary
        let summaryDiv = document.createElement("div");
        summaryDiv.className = "boardFlexItemU";
        summaryDiv.style.flex = 2;
        summaryDiv.appendChild(document.createTextNode(dailyWeatherData["forecast"][day]["summary"]));
        newDiv.appendChild(summaryDiv);
        // Other parameters
        for (const parameter in currentWeatherDataFactors) {
          if (currentWeatherDataFactors.hasOwnProperty(parameter)) {
            let measureDiv = document.createElement("div");
            measureDiv.className = "boardFlexItemU";
            let text = document.createTextNode(
                capitalize(dailyWeatherDataFactors[parameter]["label"]) + ": " +
                Number(dailyWeatherData["forecast"][day][parameter] * dailyWeatherDataFactors[parameter]["dataFactor"]).toFixed(1) +
                dailyWeatherDataFactors[parameter]["unit"]
            )
            measureDiv.appendChild(text);
            newDiv.appendChild(measureDiv);
          }
        }
        // Add sunrise and sunset times with icons
        let sunDiv = document.createElement("div");
        sunDiv.className = "boardFlexItemU";
        params = ["sunriseTime", "sunsetTime"]
        for (const parameter in params) {
          let icon = document.createElement("i");
          if (params[parameter] === "sunriseTime") {
            icon.className = "fas fa-sun";
          } else {
            icon.className = "fas fa-moon";
          }
          let sunTime = new Date(dailyWeatherData["forecast"][day][params[parameter]] * 1000);
          console.log(dailyWeatherData["forecast"][day]);
          sunDiv.appendChild(icon);
          sunDiv.appendChild(document.createTextNode(" " + sunTime.toLocaleTimeString([], {timeStyle: "short"})));
        }
        newDiv.appendChild(sunDiv);
        // Add to parent
        dailyForecast.appendChild(newDiv);
      }

      let parentDiv = document.getElementById("dailyForecast");
      parentDiv.innerHTML = dailyForecast.innerHTML;

    }
    updateDailyWeatherSpans()

    // Socket.IO event calls
    socket.on('daily_weather', function(msg) {
      dailyWeatherData = msg;
      updateDailyWeatherSpans()
    });
  </script>
{% endblock %}