{% extends 'menu.html' %}

{% block header %}Services management{% endblock %}
{% block info %}{% endblock %}

{% block content %}
  <form>
  {% for service in services %}
    <p>
      <label>
        {{ service.name.capitalize()|removeUnderscores }}
      </label>
      <label class="switch">
        <input type="checkbox" {{ 'checked' if service.status else '' }} id="{{ service.name }}_toggle">
        <span class="slider"></span>
      </label>
    </p>
  {% endfor %}
  </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    {% for service in services %}
    $(function () {
      $('#{{ service.name }}_toggle').change(function () {
          if (this.checked) {
              socketAdmin.emit("manage_service",
              {user_id: "{{ current_user.id }}",
               service: "{{ service.name }}",
               action: "start"}
          );
          } else {
              socketAdmin.emit("manage_service",
              {user_id: "{{ current_user.id }}",
               service: "{{ service.name }}",
               action: "stop"}
          );
          }
      });
    });
    {% endfor %}
    </script>
{% endblock %}