<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>Title</title>
  <style>
    @media screen {
      @font-face {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        src: local("Raleway Regular"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
      }
    }
    body {
      font-family: "Raleway", Verdana, sans-serif;
      color: #73879C;
    }
  </style>
</head>
<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse;">
    <tr>
      <td height="75" style="margin: 0; background-color: #EDEDED">
        <p>My future Header</p>
      </td>
    </tr>
    <tr>
      <td style="margin: 0;">
        <p>
          {% block content %}{% endblock %}
        </p>
      </td>
    </tr>
    <tr>
      <td height="75" style="margin: 0;">
        <p>My future footer</p>
      </td>
    </tr>
  </table>
</body>
</html>