<!DOCTYPE html>

<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="googlebot-news" content="noindex,nofollow">
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>
      {% if title %}
      {{title}} - GAIA
      {% else %}
      Welcome to GAIA
      {% endif %}
    </title>
    <link rel="icon" href="{{url_for('static', filename='ico/GAIA.gif')}}" type="image/gif" sizes="64x64">

    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/weather-icons-master/css/weather-icons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/weather-icons-master/css/weather-icons-wind.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='fonts/registry.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/fontawesome-free-5.13.0/css/all.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous"></script>

    <script src="/static/js/lib/jquery.3.5.1.min.js"></script>
    <script src= "/static/js/lib/Gauge.min.js"></script>
    <script src="/static/js/lib/humanize-duration.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/UI.js"></script>
    <script src="/static/js/events.js"></script>
    <script src="/static/js/graphs.js"></script>
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="eventContainer flash-{{ category }} center">
        <div class="eventCentralMessage">
          {{ message }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    {% if current_user.can(Permission.ADMIN) %}
    <script type="text/javascript">
      const socketAdmin = io('/admin');
    </script>
    {% endif %}
    {% block scripts %}{% endblock %}
  </body>
</html>