<!DOCTYPE html>

<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="googlebot-news" content="noindex,nofollow">
    <meta charset="utf-8">

    <title>
      {% if title %}
      {{title}} - GAIA
      {% else %}
      Welcome to GAIA
      {% endif %}
    </title>
    <link rel="icon" href="{{url_for('static', filename='ico/GAIA.gif')}}" type="image/gif" sizes="64x64">

    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/weather-icons-master/css/weather-icons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/weather-icons-master/css/weather-icons-wind.min.css')}}">

    <script src= "/static/js/lib/Gauge.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='ico/lib/fontawesome-free-5.13.0/css/all.css')}}">
    <!--
      <link rel="stylesheet" href="{{url_for('static', filename='fonts/TenorSans_latin.woff2')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='fonts/Roboto_latin.woff2')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='fonts/OpenSans_latin.woff2')}}">
    -->
    <script src="/static/js/lib/jquery.3.5.1.min.js"></script>
    <script src="/static/js/lib/humanize-duration.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/UI.js"></script>
    <script src="/static/js/events.js"></script>    
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="eventContainer" id="flashMessage">
        <div class="eventCentralMessage">
        {% for message in messages %}
          <span>{{ message }}</span>
        {% endfor %}
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          function flashMsgFadeOut() {
            $("#flashMessage").fadeOut().empty();
          };
          setTimeout(flashMsgFadeOut, 1500);

          $("#flashMessage").click(function() {
            $("#flashMessage").fadeOut();
          });
        });
      </script>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    {% if current_user.is_administrator %}
    <script type="text/javascript">
      const socketAdmin = io('/admin');
    </script>
    {% endif %}
    {% block scripts %}{% endblock %}
    <script type="text/javascript">

    </script>
  </body>
</html>