{% extends 'base.html' %}

{% block body %}
    <div class="mainContainer">
    <nav>
      <div class="topBox" id="navTopBox">
        <div class="helloGAIA">GAIA</div>
        <div class="userBox">
          {% if current_user.is_authenticated %}
          <img src="{{url_for('static', filename='ico/users/valentin/user_icon.png')}}" alt="User avatar" class="userAvatar">
          <div class="welcome">
            <div class="flexItem">Welcome,</div>
            <div class="flexItem">{{current_user.firstname}}</div>
          </div>
          {% else %}
          <img src="{{url_for('static', filename='ico/users/valentin/user_icon.png')}}" alt="User avatar" class="userAvatar">
          <div class="welcome">
            <div class="flexItem">Welcome</div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="toggleMenu" id="navToggle">
      <ul class="accordionMenu">
        <li>
          <a href="{{url_for('main.home')}}">
            <div class="accordionMenuItem">
              <i class="fa fa-home leftIco"></i>
              <div class="accordionMenuItemName">Home</div>
            </div>
          </a>
        </li>
        {% if dropdowns['weather'] %}
        <li>
          <a href="{{url_for('main.weather')}}">
            <div class="accordionMenuItem">
              <i class="fa fa-cloud leftIco"></i>
                <div class="accordionMenuItemName">Weather forecast<div>
            </div>
          </a>
        </li>
        {% endif %}
        {% if dropdowns['env_sensors'] %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-thermometer-half leftIco"></i>
            <div class="accordionMenuItemName">Environments</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in dropdowns['env_sensors'] %}
              <li>
                <a href="{{ url_for('main.sensors', level="environment", ecosystem_name=ecosystem["name"]) }}">
                  {{ ecosystem["name"] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if dropdowns['plant_sensors'] %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-seedling leftIco"></i>
            <div class="accordionMenuItemName">Plants</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in dropdowns['plant_sensors'] %}
              <li>
                <a href="{{ url_for('main.sensors', level="plants", ecosystem_name=ecosystem["name"]) }}">
                  {{ ecosystem["name"] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if dropdowns["health"] %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-heartbeat leftIco"></i>
            <div class="accordionMenuItemName">Plants health</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in dropdowns["health"] %}
              <li>
                <a href="{{ url_for('main.health', ecosystem_name=ecosystem["name"]) }}">
                  {{ ecosystem["name"] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if dropdowns['switches'] %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-power-off leftIco"></i>
            <div class="accordionMenuItemName">Switches</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in dropdowns['switches'] %}
              <li>
                <a href="{{ url_for('main.switches', ecosystem_name=ecosystem["name"]) }}">
                  {{ ecosystem["name"] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if dropdowns['webcam'] %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-video leftIco"></i>
            <div class="accordionMenuItemName">Webcam</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in dropdowns['webcam'] %}
              <li>
                <a href="#">
                  {{ecosystem["name"]}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if ecosystems_info %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-cog leftIco"></i>
            <div class="accordionMenuItemName">Hardware</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for ecosystem in ecosystems_info %}
            <li>
              <a href="{{ url_for('main.settings', ecosystem_name=ecosystems_info[ecosystem]["name"]) }}">
                {{ ecosystems_info[ecosystem]["name"] }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if plant_articles %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-book-medical leftIco"></i>
            <div class="accordionMenuItemName">Plants care</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            {% for article in plant_articles %}
            <li><a href="{{ url_for('main.care', species=article) }}">{{ article.capitalize() }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if current_user.can(permission.OPERATE) %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-tasks leftIco"></i>
            <div class="accordionMenuItemName">Manage engines</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            <li><a href="{{ url_for('admin.engine_managers') }}">Engine managers</a></li>
          </ul>
        </li>
        {% endif %}
        {% if current_user.can(permission.ADMIN) %}
        <li>
          <div class="accordionMenuItem dropdownLink">
            <i class="fa fa-users-cog leftIco"></i>
            <div class="accordionMenuItemName">Admin</div>
            <i class="fa fa-chevron-right rightIco" aria-hidden="true"></i>
          </div>
          <ul class="submenuItems">
            <li><a href="{{ url_for('admin.system') }}">System</a></li>
            <li><a href="{{ url_for('admin.services_management') }}">Services</a></li>
            <li><a href="{{ url_for('admin.invite_user') }}">Invite user</a></li>
            <li><a href="{{ url_for('admin.log_home') }}">Logs</a></li>
            <li><a href="{{ url_for('admin.mem_snapshot') }}">Memory snapshot</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <div class="bottomBox">
        <div><a href="{{ url_for('main.about') }}" title="About the author"><i class="fa fa-address-card"></i></a></div>
        <div><a href="#" title="Preferences"><i class="fa fa-user-cog"></i></a></div>
        {% if current_user.is_administrator %}
        <div><a href="#" title="Shutdown GAIA"><i class="fa fa-power-off"></i></a></div>
        {% endif %}
      </div>
      </div>
    </nav>

    <div class="rightContainer">
      {% block topbar %}
      <div class="topBar">
        <div class="roleInfo">
          {% if current_user.is_administrator %}
          Logged as Admin
          {% endif %}
        </div>
        <div class="userInfo dropdown" id="userDropdown">
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('auth.login') }}">
            <div  style="top: 50%; left: 50%; transform: translate(-50%, -50%); position: relative">
              Log in
            </div>
          </a>
          {% else %}
          <button class="dropdownButton ">{{ current_user.username }}</button>
          <div class="dropdownContent" id="userDropdownContent">
            <a href="{{ url_for('main.user_page', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('auth.logout') }}">Log out</a>
          </div>
          {% endif %}
        </div>
        <div class="warning">
          {% if current_user.is_authenticated %}
          {% if warnings %}
          <a href="{{ url_for('main.warnings_list') }}">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="contentContainer">
        {% if self.header() %}
        <div class="topLine">
          <h1 style="margin: auto 0 0 0">{% block header %}{% endblock %}</h1>
          <h3 style="margin: auto 0 0 auto">{% block info %}{% endblock %}</h3>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      {% endblock %}
    </div>
{% endblock %}